<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI7_68oFUtPT83DQjPjkHy1-oQSJczoLM</string>
	<key>GCM_SENDER_ID</key>
	<string>598071176381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatmessengerapp</string>
	<key>PROJECT_ID</key>
	<string>flutterchatapp-b438c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatapp-b438c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598071176381:ios:fd8c2db4047887f6a29bd4</string>
</dict>
</plist>